{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<header>
	<h2>About SlugJam</h2>
</header>


<article>

	<section id="intro_block">

		<p>SlugJam is (<em>probably<a id="footnote_1_pos" href="#footnote_1">*</a></em>) the first slug-based=synthesiser on earth in around 300 million years.</p>

		<p>Songs are generated through the <a href="#breeding_block">breeding</a>, <a href="#molding_block">molding</a>, and <a href="#arranging_block"> arranging </a> of slugs.</p>
	</section>

	<section  id="breeding_block" >
		<h3>Breeding your slugs</h3>
		<p>When you <a href="/user/signup/">Sign Up</a> you will be given four slugs, each with a different voice. The sound made by a slug is determined by its genes. These slugs are randomly selected from the <em>slugpool</em>, and may not have the nicest voices going. But dont fret! Your slugs can be cross-bred to try and find new slugs with voices more to your liking.</p>
	</section>

	<section id="molding_block">
		<h3>Molding your slugs</h3>
		<p>At first, all of your slugs look kind of the same.. They are different colors, but apart from that they are identical. and they still sound sort of samey, don't they? This is where the long lost art of <em>slug molding</em> comes in.If you click "mold" on the screen, a big box will pop out with your selected slug on it. Find the little circles on the corners of the slug. If you click on one and drag it, it will change the shape of the slug. The shape of the slug is a lot like what people in the <a href="https://en.wikipedia.org/wiki/Music_technology">music technology</a> business call an <a href="https://en.wikipedia.org/wiki/ADSR_envelope">envelope</a>, but we think thats sort of a silly name. We just call it a shape.</p>

	</section>

	<section id="arranging_block">
		<h3>Arranging your slugs</h3>
		<p>Once you have bred a nice collection of slugs and molded them into some interesting sounding shapes you can get to work arranging your pallette of slugs into a song.</p>
		<p> Simply click on the slug you want to place first, then hold your mouse over the grid in the middle of the page. The square you hover over should change to the color of the slug you have selected. Click to place the slug.</p>
		<p> A slug placed at the bottom will make a low sounding noise, one placed at the top will make a high sounding noise. The timeline runs left to right, so a slug placed on the far left will play at the beginning of your song, and one placed at the end will play at the end. when the loop gets to the end it will go straight back to the start.</p>
	</section>
		
	<hr/>

	<section id="footnotes">
		<ul>
			<li id="footnote_1">1<a href="#footnote_1_pos">^</a>. "<em>Probably</em>" meaning to the best of our extremely large, but not infinite, knowledge.</li>
		</ul>
	</section>
</article>
{% endblock %}
