{% extends 'tutorialBase.html' %}

{% block title %}{{block.super}} | Part 1{% endblock %}


{% block tut_title %}
	<header>
		<h2>Tutorial Part One</h2>
		<p>The Main Screen</p>
	</header>
{% endblock %}



{% block image %}
	<img src="{{STATIC_URL}}images/tutorial/tut_im_1.png"></img>
{% endblock %}


{% block tutorial_text %}
<ul>
	<li>	
		<img src="{{ STATIC_URL }}images/tutorial/label_1.png"></img>
		<div class="item">
			<p>Information about the current song, including the title the user
			who wrote the song, and how many points it has.</p>
		</div>
	</li>

	<li>
		<img src="{{ STATIC_URL }}images/tutorial/label_2.png"></img>
		<div class="item">
			<p>This is where the slugs live. Select a slug by clicking on it.
			Currently Etienna is selected. You can see that her name is 
			<strong>bolder</strong> and a different color.</p>
		</div>
	</li>

	<li>
		<img src="{{ STATIC_URL }}images/tutorial/label_3.png"></img>
		<div class="item">

			<p>This is where you place your slugs. Slugs are places by clicking
			on one of the squared in the grid. You can see which slug you are
			going to place by which color is used to highlight the square.</p>
	
			<p>The bottom row is the lowest
			note of the scale, and the highest row is the hightest note of
			the scale. The slugs on the left will play first, and those
			on the right will play last. The red bar at the bottom moves along
			when the song is playing to show you where in the song is being 
			played. It automatically loops back to the start.</p>
		</div>
	</li>



	<li>
		<img src="{{ STATIC_URL }}images/tutorial/label_4.png"></img>
		<div class="item">
			<p>This is the main control panel.</p>
			<ul>
				<li><strong>Clear</strong> - Clears all notes/slugs from the grid.</li>
				<li><strong>Save</strong> - Saves your song for others to listen to and remix.</li>
				<li><strong>Mold</strong> - Opens the slug molder. This allows you to change the sound of a slug. There is more information on slug molding on the next page.</li>
				<li><strong>Play</strong> - Start to play the current song. Press again to stop.</li>
				<li><strong>Wave</strong> - Open the Wave view. This will show you the sound wave that your selectec slug will make.</li>
			</ul>
		</div>
	</li>


</ul>


{% endblock %}
