{% extends 'songBase.html' %}

{% block initialiseScript %}
sampleRate = 44100;
scales = { 
	    'Ma': [1, 9.0/8, 5.0/4,4.0/3,3.0/2, 5.0/3, 15.0/8, 2], 
	    'Mi': [1, (9/8), 6/5, 4/3, 3/2, 8/5, 9/5, 2],
	    'mPent': [1,6/5,4/3,3/2,9/5,2,12/5,8/3,3,18/5,4],
	    }
       

	var dataArray,
	    start,
	audio,
	all
	var STATIC_URL = {{ STATIC_URL }};
	var player = {% if user.is_authenticated %}'{{user.username}}'{% else %}undefined;
{% endif %}
{% endblock %}


{% block onloadScript %}
window.onload = function() {
  
   loadSong({{songPK}}) 
};

{% endblock %}


{% block header_block %}

<div id="songHeader">
	<h3>loading song...</h3>
	<p></p>
</div>

{% if not mySong %}
	{% if not alreadyRated %}
		<div id="rateSong">
			<h4 id="ratingHeader"> Rate this song </h4>
				<form method="post" action="rate/">
					{% csrf_token %}
					<div class="radioInput">	
						<input type="radio" id="radio_0" name="rating" value="0"/>
						<label for="radio_0">0</label>
					</div>
					<div class="radioInput">	
						<input type="radio" id="radio_1" name="rating" value="1"/>
						<label for="radio_1">1</label>
					</div>
					<div class="radioInput">	
						<input type="radio" id="radio_2" name="rating" value="2"/>
						<label for="radio_2">2</label>
					</div>
					<div class="radioInput">	
						<input type="radio" id="radio_3" name="rating" value="3"/>
						<label for="radio_3">3</label>
					</div>
					<div class="radioInput">	
						<input type="radio" id="radio_4" name="rating" value="4"/>
						<label for="radio_4">4</label>
					</div>
					<div class="radioInput">	
						<input type="radio" id="radio_5" name="rating" value="5"/>
						<label for="radio_5">5</label>
					</div>
					<div class="ratingSubmit">
						<input type="submit" name="Rate" value="rate" >
					</div>
							
	
				</form>
	
		</div>
	{% endif %}
	<div class="ratingBox">
		<p> You gave this song {{myRating}} points</p> 
		<p>It has an everage score of {{song.avScore}}</p>
	</div>
{% endif %}
{% endblock %}
