{% extends 'songBase.html' %}

{% block initialiseScript %}
currentSong = {{songPK}};
sampleRate = 44100;
scales = { 
	    'Ma': [1, 9.0/8, 5.0/4.0, 4.0/3.0, 3.0/2.0, 5.0/3, 15.0/8, 2.0], 
	    'Mi': [1, 9.0/8.0, 6.0/5.0, 4.0/3.0, 3.0/2.0, 8.0/5.0, 9.0/5.0, 2.0],
	    'mPent': [1, 6.0/5.0, 4.0/3.0, 3.0/2.0, 9.0/5.0, 2.0, 12.0/5.0, 8.0/3.0 ,3.0, 18.0/5.0, 4.0],
	    'MPent': [1, 9.0/8.0, 5.0/4.0, 3.0/2.0, 5.0/3.0, 2.0, 9.0/4.0, 5.0/2.0, 3.0, 10.0/3.0, 4.0]
	    }
       

	var dataArray,
	    start,
	audio,
	all
	var STATIC_URL = {{ STATIC_URL }};
	var player = {% if user.is_authenticated %}'{{user.username}}'{% else %}undefined;
{% endif %}
{% endblock %}


{% block onloadScript %}
window.onload = function() {
  
   loadSong({{songPK}}) 
};

{% endblock %}


{% block header_block %}

<div id="header_songinfo">
	{% if not mySong %}
		{% if not alreadyRated %}
			{% include 'rateForm.html' %}
		{% endif %}
	{% endif %}
</div>

{% endblock %}
