	<div class="coverall " id="songOptionsBgrnd">
		<div id="songOptions">
			<h3>New Song</h3>
			<div class="songOptionField">
				<label for="title">Title</label>
				<input id="titleInput" name="title" type="text">
				<img class="tooltip" src="{{ STATIC_URL }}images/help-icon.png" title="Pick a name for your song. Anything you like."></img>
			</div>	
	
			<div class="songOptionField">
				<label for="tempo">Tempo</label>
				<select id="tempoInput" name="tempo">
					<option value=40>Very Slow</option>
					<option value=80>Slow</option>
					<option value=120 selected="selected">Medium</option>
					<option value=160>Very Medium</option>
					<option value=240>Fast</option>
					<option value=480>Very Fast</option>
					<option value=660>Silly Fast</option>
				</select>
				<img class="tooltip" src="{{ STATIC_URL }}images/help-icon.png" title="fast or slow? you decide."></img>

			</div>

			<div class="songOptionField">
				<label for="scale">Scale</label>
				<select id="scaleInput" name="scale">
					<option value="Ma">Major</option>
					<option value="Mi">Minor</option>
					<option value="MPent">Major Pentatonic</option>
					<option value="mPent">Minor Pentatonic</option>
				</select>
				<img class="tooltip" src="{{ STATIC_URL }}images/help-icon.png" title="Choose a scale. If you don't know what these mean then pick one at random, and see how it sounds."></img>

			</div>

			<div class="songOptionField">
				<label for="baseFreq">Key</label>
				<select id="baseFreqInput" name="baseFreq">
					<option value="16.523">C</option>
					<option value="17.32">C#</option>
					<option value="18.35">D</option>
					<option value="19.45">Eb</option>
					<option value="20.6">E</option>
					<option value="21.83">F</option>
					<option value="23.12">F#</option>
					<option value="24.5">G</option>
					<option value="25.69">G#</option>
					<option value="27.5">A</option>
					<option value="29.14">Bb</option>
					<option value="30.87">B</option>
				</select>
				<img class="tooltip" src="{{ STATIC_URL }}images/help-icon.png" title="Pick a key, any key.."></img>

			</div>


			<div class="songOptionField">
				<label for="length">Length</label>
				<select id="lengthInput" name="length">
					<option>8</option>
					<option>9</option>
					<option>12</option>
					<option selected="selected">16</option>
					<option>24</option>
					<option>32</option>
					<option>40</option>
					<option>48</option>
					<option>64</option>
				</select>
				<img class="tooltip" src="{{ STATIC_URL }}images/help-icon.png" title="How long do you want it to be?"></img>

			</div>


			<input type="button" value="GO!" onclick="getDefaultPlayerSlugs(newSong,{'playerName': player})"; 
>
		</div>
	</div>

