{% extends 'base.html' %}
{% load dajaxice_templatetags %}

{% block title %}New Song{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/index.css"></link>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/songTemplate.css"></link>
{% endblock %}

{% block script %}
	{% dajaxice_js_import %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/raphael-min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/riffwave.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/newWave.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}images/slugpaths.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/slugsynth.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/catmullRom2Bezier.js"></script>
	<script type="text/javascript">
	{% block initialiseScript %}    
	{% endblock %}
	{% block onloadScript %}
	{% endblock %}
</script>

{% endblock %}
{% block header_block %}
{% include 'songHeader.html' %}
{% endblock %}
     
{% block main %}
       <div id="controls"></div>
        <div id="track"></div>
        <div id="slugBoxLeft"></div>
	{% block extra_content %}

	{% endblock %}
	<div class="coverall" id="saveFormBgrnd" hidden="true">
	<div id="saveForm">
		<h3>Save your Song</h3>
		<div class="saveFormField">
			<label for="title">Title</label>
			<input id="saveFormTitle" type="text" name="title" placeholder="name your song here">
		</div>
		<div class="saveFormField">
			<label for="tags">Tags</label>
			<input type="text" id="saveFormTags" name="tags" placeholder="Tag your song here">
		</div>
		<br/>
		<input type="button" name="save" value="save">
		<input id="cancelSave" type="button" name="close" value="cancel">

	</div>
	</div>
{% endblock %}
