<section class="song_info">
	<div class="labels">
		<a href="/song/load/{{song.pk}}"><h4>{{song.name}}</h4></a>
		<div class="creator">
			<p>by <a href="/user/profile/{{song.creator.pk}}">{{song.creator}}</a></p>
		</div>
		<div class="tagBlock">
			<p>Tags:</p>
			<ul class="tagList">
				{% for tag in song.get_tags %}
					<li>{{tag}}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<ul class="numbers">
		<li>Ratings<strong>{{song.rating_set.count}}</strong></li>
		<li class="end">Average Points<strong>{{song.average_points}}</strong></li>
	</ul>
	<a href="/song/load/{{song.pk}}"><img src="{{ STATIC_URL }}images/songDefault.png" alt="song_picture"></img></a>
</section>
