<section class="song_info">
	<div class="labels">
		<a href="/song/load/{{song.pk}}" title="{{song.name}}"><h4>{{song.name|truncatechars:22}}</h4></a>
		<div class="creator">
			<p>Submitted by <a href="/user/profile/{{song.creator.pk}}" title="{{song.creator}}'s profile">{{song.creator}}</a> on <span class="date">{{song.last_used|date:"F j, Y"}}.</span></p>
		<div class="thinSep"></div>
		</div>
		<div class="tagBlock">
			<p>Tags: {% for tag in song.get_tags %}<span class="tag">{{tag}},</span>{% endfor %}</p>
			</ul>
		</div>
	</div>
	<ul class="numbers">
		<li>Ratings<strong>{{song.rating_set.count}}</strong></li>
		<li class="end">Average Points<strong>{{song.average_points}}</strong></li>
	</ul>
	<a href="/song/load/{{song.pk}}"><img src={% if song.thumbnail %}"{{ song.thumbnail.url }}"{% else %}"{{ STATIC_URL }}images/songDefault.png"{% endif %} alt="song_picture"></img></a>
</section>
