html {
	width: 100%;
	margin: none;
	padding: none;
}


body {
	background-color: #85BE6A; 
	background-image: url(../images/bg.jpg.png);
	background-repeat: True;
	font-family: Courier;
	color: #444444;
	width: 100%;
	margin: 0;
	padding: 0;
}
a {
	color: #444444;
	font-weight: bolder;
	text-decoration: none;
}

a:hover {
	color: #222222;
	position: relative;
}


/* HEADER STUFF 

css for anything inside #mainHeader
should go here */


#mainHeader {
	
	width: 960px;
	margin: 0 auto;
	height: 100px;
}

#logo {
	
	width: 200px;
	float: left;
	text-decoration: none;
	color: #444444;
}

#mainHeader #logo{
 
}

header a:hover {
	color: #222222;
}
header h1 {
	margin:0;
}

#songHeader {
	float: left;
	text-align: center;
	width: 300px;
	margin: 0 0 0 240px;
	color: #444;
}

#songHeader h3 {
	color: #444;
	margin: 1em;
}
#songHeader p {
	margin: 0 auto;
}

#loginBox {
	width: 200px;
	float: right;
	height: 70px;
	margin: 12px 0px 12px 0px;
	border-radius: 5px;
	background-color: #222;
	-moz-box-shadow:    0px 0px 8px 2px #666;
	-webkit-box-shadow: 0px 0px 8px 2px #666;	
	box-shadow: 0px 0px 8px 0px #666666;
	background-image: url(../images/formbg.jpg);
}
#loginBox a.text,
#loginBox p {
	width: 125px;
	margin: 0px auto;
	float: right;
	padding: 0px;
	font-size: 80%;
	color: #bbb;
	text-align: center;
}
#loginBox p span {
	text-align: center;
	display: block;
	font-weight: bold;
	font-size: 150%;
}

#loginBox a.text{
	text-align: center;
	display: block;
	color: #999;
	font-weight: bold;
}
	
#loginBox a img {
	margin: 5px;
	padding: 5px;
	border-radius: 3px;
	border: 1px dotted #666;
	
}



/* main NAV bar 


anything within #mainNav

*/


nav {
	width: 100%;
	margin: 0 0 10px 0;
	padding:0 0 0 0;
	height: 2em;
	background-color: #4F7ABA;	
	background-image: url(../images/navbg.jpg);
	background-repeat: True;
	-moz-box-shadow: 0px 0px 8px 0px #666;
	-webkit-box-shadow: 0px 0px 8px #666;
	box-shadow: 0px 0px 8px 0px #666;
}

nav ul {
	width: 960px;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;

}

nav ul li {
	float: left;
	margin: 0.5em 0.5em;
	width: 20%;
}

nav ul li a {
	text-decoration: none;
	font-weight: bolder;
	color: #666666;
}

nav ul li a:hover {
	color: #222222;
}



header h2,
header h3 {
	clear: left;
}



/* MAIN CONTENT 
*/


.main {
	
	width: 960px;
	min-height: 1100px;
	margin:  1em auto;
	padding: 1em;
	background: #4F7ABA;
	background-image: url(../images/navbg.jpg);
	background-repeat: none;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 8px #666;
	-webkit-box-shadow: 0px 0px 8px #666;
	box-shadow: 0px 0px 8px #666;
	

}


.main article {
	width: 100%;
	text-align: justify;
}

.main article p a {
	text-decoration: none;
}




footer {
	width: 100%;
	height: 1em;
	background-color: #4F7ABA;
	background-image: url(../images/navbg.jpg);
	background-repeat: True;
	-moz-box-shadow: 0px 0px 8px #666;
	-webkit-box-shadow: 0px 0px 8px #666;
	box-shadow: 0px 0px 8px #666;
}



footer ul {
	margin: 0 auto;
	width: 960px;
	list-style: none;
	font-size: 70%;
	color: #444;
}


footer ul li {
	margin: 0 1em;
	float: left;
	text-align: right;
}


hr {

	border: 0.05em  solid #666;
	width: 70%;

}



#left {
	float: left;
	width: 75%;
	
}
#right {
	float: right;
	width: 20%;
	margin: 1em 0em 1em 1em;
	padding: 0em 1em;
	min-height: 400px;
	border-radius: 5px;
	background-image: url(../images/formbg.jpg);
	-moz-box-shadow:    0px 0px 8px 0px #666;
	-webkit-box-shadow: 0px 0px 8px 0px #666;
	box-shadow: 0px 0px 8px #666;
}




.pagination {
	font-size: 80%;
	margin: 1em auto 1em auto;
	text-align: center;
}


.date {
	font-size: 80%;
	font-weight: bold;
}


span.help {
	font-weight: bold;
	cursor: pointer;
}


.randomWords {
	font-weight: bold;
}


.small {
	width: 600px;
	margin: 0 auto;
}

/* SIDEBAR */

.twitter-timeline {
	color: #99bca0;
	position: relative;
	top: 8px;

}

.twitter-timeline:hover {
	color: #ccc;
}

.twitterFiller {
	color: #444444;	
	max-height: 400px;
	overflow: hidden;
	border-radius: 0.5em;
	-moz-box-shadow:inset    0px 0px 8px 2px #666;
	-webkit-box-shadow:inset 0px 0px 8px 2px #666;
	box-shadow: inset 0 0 8px 2px #666;
	border: 1px solid #444;
	background-color: #ddd;
/*	background: url(../images/navbg.jpg);*/
	background: url(../images/redbg.jpg);
}	

.twitterFiller ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.twitterFiller ul li {
	width: 80%;
	font-size: 80%;
	margin: 1em auto;
	border-bottom:1px dotted #444;
}


#donate {
	margin: 1em;
	color: #99BCA0;
}

#donate a {
	color: #99BCA0;
}


#incompatibleBrowser {
	margin: 0;
	padding: 1em;
	width: 100%;
	height: 110px;
	top: 0px;
	background-color: #550000;
	background: url(../images/whitebg.jpg);
	border-radius: 0 0 1em 1em;
	-moz-box-shadow:    2px 2px 8px 2px #666;
	-webkit-box-shadow: 2px 2px 8px 2px #666;
	box-shadow: 2px 2px 8px 2px #666;
}

#incompatibleBrowser p {
	width: 70%;
	margin: 1em auto;
	font-weight: bold;
}

#incompatibleBrowser p a {
	text-decoration: underline;
}


#close_browser_warning {
	float: right;
	text-decoration: underline;
	margin:0 3em 0 0;
	padding: 0;
	
}
