html {
	width: 100%;
	margin: none;
	padding: none;
}


body {
	background-color: #85BE6A; 
	background-image: url(../images/bg.jpg.png);
	background-repeat: True;
	font-family: Courier;
	color: #444444;
	width: 100%;
	margin: 0;
	padding: 0;
}
a {
	color: #444444;
	font-weight: bolder;
	text-decoration: none;
}

a:hover {
	color: #222222;
	position: relative;
}


#mainHeader {
	
	width: 80%;
	margin: 0 auto;
	background-image: url(../images/logo.png);
	height: 95px;
	background-repeat: no-repeat;
}

header  a {
	width: 80%;
	margin: 0 auto;
	text-decoration: none;
	color: #444444;
}
header a:hover {
	color: #222222;
}
header h1 {
	margin:0;
}

nav {
	width: 100%;
	margin: 0 0 10px 0;
	padding:0 0 0 0;
	height: 2em;
	background-color: #4F7ABA;	
	background-image: url(../images/navbg.jpg);
	background-repeat: True;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 0px 0px 8px #888;
}

nav ul {
	width: 75%;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;

}

nav ul li {
	float: left;
	margin: 0.5em 0.5em;
	width: 20%;
}

nav ul li a {
	text-decoration: none;
	font-weight: bolder;
	color: #666666;
}

nav ul li a:hover {
	color: #222222;
}



header h2,
header h3 {
	clear: left;
}


.main {
	
	width: 80%;
	min-height: 300px;
	margin:  1em auto;
	padding: 1em;
	background: #E9ECB3;
	background-image: url(../images/navbg.jpg);
	background-repeat: none;
	border-radius: 4px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 0px 0px 8px #888;
	

}


.main article {
	width: 60%;

	text-align: justify;
}

.main article p a {
	text-decoration: none;
}

#footnotes {
	font-size: 80%;
	color: #888;
}


footer {
	width: 100%;
	height: 1em;
	background-color: #4F7ABA;
	background-image: url(../images/navbg.jpg);
	background-repeat: True;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 0px 0px 8px #888;

}

footer ul {
	width: 80%;
	list-style: none;
	font-size: 70%;
	color: #444;
}


footer ul li {
	text-align: right;
}


hr {

	border: 0.05em  solid #ADDF95;
	width: 70%;

}

.fullpage_form {
	width: 50%;
	background-image: url(../images/formbg.jpg);
	background-repeat: True;
	padding: 1em;
	margin: 2em auto;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px 5px #222222;
	-webkit-box-shadow: 0px 0px 10px 5px #222222;
	box-shadow: 0px 0px 10px 5px #222222;

}


.fullpage_form label {
	font-weight: bolder;
	font-size: 110%;
	height: 1.5em;
	padding-top: 0.25em;
	text-transform: uppercase;
	color: #85C8B5 ;
	text-shadow: 2px 2px 1px #666666;
	float: left;
	clear: left;
	width: 30%;
	text-align: right;
}

.fullpage_form input {
	width: 30%;
	min-width: 200px;
	height: 1.5em;
	padding: 5px 20px 0px 20px;
	margin: 0 0 20px 20px;
	background: #50907E;
	background: -moz-linear-gradient(top, #45635B 0%, #50907E 20%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45635B),color-stop(20%, #50907E)); 
	color: #2f2f2f;
	border-radius: 10px;
	-moz-box-shadow: inset 0px 0px 10px #222222;
	-webkit-box-shadow: inset 0px 0px 10px #222222;
	box-shadow: inset 0px 0px 10px #222222;
	font-size: 110%;
	text-shadow: 1px 1px 0px #666666;
	border: 1px solid #444444;

}

.fullpage_form input::-webkit-input-placeholder {
	color: #486C62;
	text-shadow: 0px -1px 0px #444444;
}
.fullpage_form input:-moz-placeholder {
	color: #486C62;
	text-shadow: 0px -1px 0px #444444;
}
.fullpage_form textarea {
	width: 30%;
	min-width: 200px;
	height: 7em;
	padding: 5px 20px 0px 20px;
	margin: 0 0 20px 20px;
	background: #50907E;
	background: -moz-linear-gradient(top, #45635b 0%, #50907E 20%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45635B),color-stop(20%, #50907E)); 
	border-radius: 10px;
	-moz-box-shadow: inset 0px 0px 10px #222222;
	-webkit-box-shadow: inset 0px 0px 10px #222222;
	box-shadow: inset 0px 0px 10px #222222;
	color: #2f2f2f;
	font-size: 110%;
	text-shadow: 1px 1px 0px #666666;
	border: 1px solid #444444;
}

.fullpage_form textarea::-webkit-input-placeholder {
	color: #486C62;
	text-shadow: 0px -1px 0px #444444;
}

.fullpage_form textarea:-moz-placeholder {
	color: #486C62;
	text-shadow: 0px -1px 0px #444444;
}

.fullpage_form input:focus,
.fullpage_form textarea:focus,
.fullpage_form input[type=submit]:hover {
	background: #97c8ba;
	background: -moz-linear-gradient(top, #97C8BA 0%, #85C8B5 20%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97C8BA),color-stop(20%, #85C8B5)); 

	text-shadow: 1px 1px 0px #666666;
} 


.fullpage_form input[type=submit] {
	display: block;
	width: 10%;
	min-width: 100px;
	height: 2em;
	margin: 0 auto;
	padding-bottom: 0.5em;
	cursor: pointer;
	-moz-box-shadow:inset 0px 0px 10px #222222;
	-webkit-box-shadow:inset 0px 0px 10px #222222;
	box-shadow: inset 0px 0px 10px #222222;
	border: 1px solid #486C62;


}


.home {
	height: 480px;
}



#left {
	float: left;
	width: 70%;
	
}
#right {
	float: right;
	width: 25%;
	margin: 1em 0em 1em 1em;
	padding: 1em;
	min-height: 400px;
	border-radius: 5px;
	background-image: url(../images/formbg.jpg);
	box-shadow: 0px 0px 5px #222222;
}

.player_list,
.profile {

	width: 80%;
	height: auto;
	min-height: 600px;
	margin: 0 auto;
	padding: 0 1em 0 1em;
	border-radius: 2px;
	background-image: url(../images/navbg.jpg);
	background-repeat: True;
	-moz-box-shadow: 0px 0px 8px #666666;
	-webkit-box-shadow: 0px 0px 8px #666666;
	box-shadow: 0px 0px 8px #666666;
}
 
.player_list {
	height: 900px;
}
#profile_top {
	padding: 10px;
	margin: 0px;
}

#profile_top header {
	width: 100%;
	height: 130px;	
	
	
}

#profile_top img {
	display: inline;
	height: 100px;
	width: 100px;
	padding: 10px;
	float: left;
	border-radius: 5px;
	background-image: url(../images/formbg.jpg);
	margin: 0.5em 1em 0em 0em;	
	border: 1px solid #444;
	box-shadow: 0px 0px 5px #222222;
}

#profile_info h2,
#profile_info h3 {

	float: left;
	clear: none;
	width: 200px;
	padding: 0px;
	margin: 0em 0em 0em 1em;
	font-size: 70%;
	text-transform: lowercase;
	vertical-align: font-top;
	line-height: 80%;
}

#profile_top header h2 a span {
	font-size: 230%;
	text-transform: uppercase;
	
}


#profile_top p {
	border: 0;
	padding: 0;
}

#profile_info {
	width: 300px;
	height: 100px;
	clear: none;
	float: left;
	padding: 1em 0.25em 0 1em;
	border-right: 1px dotted #888;
}

#profile_info h3 {
	color: #666666;
	margin-top: 0.5em;
}

#profile_info ul.numbers {
	float: left;
	list-style: none;
	width: 290px;
	margin: none;
	padding:0.5em 0 0 0;
	border-top: 1px dotted #888;
	text-align: center;
	
}

#profile_info ul.numbers li {
	display: block;
	float: left;
	width: 95px;
	text-transform: uppercase;
	border-right: 1px dotted #888;
	text-align: center;
}

#profile_info ul.numbers li.end {
	border-right: none;
}
#profile_info ul.numbers li strong {
	display: block;
	font-size: 200%;
	text-align: center;
}	

.infoDiv {
	display: inline;
}

#profile_about {
	clear: none;
	float: left;
	width: 250px;
	max-height: 100px;
	padding: 0.5em;


}

#profile_about h3 {
	font-size: 70%;
	margin: 0;
	line-height: 1.2em;
	
}

#profile_about h3 strong {
	font-size: 170%;
	font-weight: bold;
}

#profile_about p {
	max-height: 100px;
	margin: 0.25em 0 0.25em 0;
	text-align: justify;
	font-size: 80%;
	text-overflow: hidden;
}
.label {
	display: inline;	
	width: 180px;
	font-weight: bold;
	margin: 1em 0px 0px 0px;
}

.info {
	display: inline;
	width: 200px;

	margin-left: 1em;
}

.profile nav {
	background-image: url(../images/formbg.jpg);
	border-radius: 5px;
	color: #99bca0;
	height: 2em;
	-moz-box-shadow: 0px 0px 5px #222222;
	-webkit-box-shadow: 0px 0px 5px #222222;
	box-shadow: 0px 0px 5px #222222;
}

.profile nav ul li {
	vertical-align: middle;

	cursor: pointer;
	font-weight: bold;
	
}


.profile nav ul li:hover {
	
	text-shadow: 0px 1px 5px #99bca0;
}

.sel {

	font-weight: bolder;
	color: #4F7ABA;
	
}

.sel :hover {
	font-weight: bolder;
	color: #4F7ABA !important;
}

.slugDiv {
	float: left;
	padding: 5px;
	height: 130px;
	width: 210px;
}
.slugDiv h3 {
	margin: 0px 0px 3px 5px;
	padding: 0px;
}

.slugBox {
	display: block;
	height: 90px;
	width: 200px;
	margin: 0;
	padding: 0;
	float: left;
	background-image: url(../images/formbg.jpg);
	border-top: 2px solid #444444;
	border-left:2px solid #444444;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 5px #222222;
	-webkit-box-shadow: 0px 0px 5px #222222;
	box-shadow: 0px 0px 5px #222222;
}


.sep {
	height: 1px;
	
	width: 70%;
	margin: 1em auto;
	border-top: 1px dotted #888;
}


.slugDiv form {
	background: none;
	background-image: none;
	margin: 0;
	height: auto;
	padding: 0;
	box-shadow: none;
	width: 100%;
}

.slugDiv form input[type=text] {
	margin: 1px 0px 1px 0px;
	padding: 0;
	height: 21px;
	width: 50%;

}


.slugDiv form input[type=submit],
.slugDiv form input[type=button] {
	width: 80px;
	font-size: 80%;
	padding: 0px;
	margin: 0px auto;

}


#loginBox {
	width: 200px;
	float: right;
	height: 70px;
	margin: 12px 0px 20px 0px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 2px #222222;
	background-image: url(../images/formbg.jpg);
}
#loginBox a.text,
#loginBox p {
	width: 125px;
	margin: 0px auto;
	float: right;
	padding: 0px;
	font-size: 80%;
	color: #bbb;
	text-align: center;
}
#loginBox p span {
	text-align: center;
	display: block;
	font-weight: bold;
	font-size: 150%;
}

#loginBox a.text{
	text-align: center;
	display: block;
	color: #999;
	font-weight: bold;
}
	
#loginBox a img {
	margin: 5px;
	padding: 5px;
	border-radius: 3px;
	border: 1px dotted #666;
	
}
