<!DOCTYPE html>
<html>
	<head>
		<meta charset-"utf-8">

		<title>SlugJam | {% block title %}{% endblock %}</title>

		<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"></link>

		{% block style %}
		{% endblock %}

		{% block script %}
		{% endblock %}

	</head>

	<body>
		<header id="mainHeader">
		<a href="/"><h1></h1></a>
		</header>
		<nav class="mainNav">
		
			{% block navbar %}
			<ul>
				<li ><a class="NavBarItem Left" href="/about/">About</a></li>
				<li><a class="NavBarItem" href="/newsong/">New Song</a></li>
				{% if user.is_authenticated %}
					<li><a class="NavBarItem" href="/user/myprofile/">Profile</a></li>
					<li><a class="NavBarItem Right" href="/user/logout/">Log Out</a></li>
				{% else %}
					<li><a class="NavBarItem Right" href="/user/login/">Log In</a></li>
					<li><a class="NavBAr Right" href="/user/signup/">Sign Up</a></li>
				{% endif %}
			</ul>
			{% endblock %}
		
		</nav>
		
		
			{% block content %}
			{% endblock %}
		
	
		<footer class="mainFooter">
		
			{% block footer %}
			<ul>
				<li>lovingly crafted by #.3</li>
			</ul>
				
			{% endblock %}
		
		</footer>

	</body>

</html>

