<!DOCTYPE html>
<html>
	<head>
		<meta charset-"utf-8">

		<title>SlugJam | {% block title %}{% endblock %}</title>

		<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"></link>

		{% block style %}
		{% endblock %}
		<script>

		</script>
		{% block script %}
		{% endblock %}

	</head>

	<body>
		<header id="mainHeader">
		<a href="/"><h1></h1></a>
		<div id="loginBox">

			{% if user.is_authenticated %}
				<p>logged in as <span id="loginBox_username">{{user.username}}</span></p>
				<a class="text" href="/user/logout">Log Out</a>
				<a title="My Profile" href="/user/myprofile/"><img width="50" height="50" src="{% if player.avatar %}{{player.avatar.url}}{%else%}{{STATIC_URL }}images/default.jpg{%endif%}" alt="profile picture"></img></a>
							{% else %}
			<a class="text" href="/user/login">Log In</a>
			<a class="text" href="/user/signup">Sign Up</a>
			{% endif %}

		</div>
		{% block header_block %}
		{% endblock %}	

		</header>
		<nav class="mainNav">
		
			{% block navbar %}
			<ul>
				<li><a class="NavBarItem Left" href="/about/">About</a></li>
				<li><a class="NavBarItem" href="/song/new/">New Song</a></li>
				<li><a class="NavBarItem" href="/user/list/page1">Players</a></li>
				<li><a class="NavBarItem" href="/song/list/page1">Songs</a></li>
			</ul>
			{% endblock %}
		
		</nav>
		
		
			{% block content %}
			{% endblock %}
		
	
		<footer class="mainFooter">
		
			{% block footer %}
			<ul>
				<li>lovingly crafted by #.3</li>
			</ul>
				
			{% endblock %}
		
		</footer>

	</body>

</html>

