<!DOCTYPE html>
<html>
	<head>
		<meta charset-"utf-8">

		<title>SlugJam | {% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="{{ STATIC_URL }}images/icon.png"></link>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/global.css"></link>

		{% block style %}
		{% endblock %}
		{% block script %}
		{% endblock %}



	</head>

	<body>
	<div id="incompatibleBrowser" hidden=true>
		<p>Unfortunately, Slugjam will not work fully with your browser.</p>
		<p>SlugJam currently relies on features available only in firefox. Either wait a short while till I get round to fixing it up for chrome and safari, or download firefox for free from <a href="http://www.mozilla.org/en-US/">Here</a>.</p>
		<a id="close_browser_warning" href="#" onclick="document.getElementById('incompatibleBrowser').hidden = true">close</a>
	</div>
	
	<header id="mainHeader">
	<div id="logo">
		<a href="/"><img src="{{ STATIC_URL }}images/logo.png" title="home" alt="slugjamlogo"><img></a>
	</div>
	{% block header_block %}
	{% endblock %}	

	{% include 'loginBox.html' with player=user.get_profile %}
</header>	


		<nav class="mainNav">
		
			{% block navbar %}
			<ul>
				<li><a class="NavBarItem Left" href="/story/chapter1">Story</a></li>
				<li><a class="NavBarItem" href="/song/new/">New Song</a></li>
				<li><a class="NavBarItem" href="/user/list/page1">Players</a></li>
				<li><a class="NavBarItem" href="/song/list/page1">Songs</a></li>
			</ul>
			{% endblock %}
		
		</nav>
			{% block main %}		
			<div class="main">		
				{% block content %}
				{% endblock %}
			</div>
			{% endblock %}
	
		<footer class="mainFooter">
		
			{% block footer %}
			<ul>
				<li><a href="https://github.com/SamsPepper1/slugsynth_dynamic">Code</a></li>
				<li>Contact: hive@slugjam.net</li>
				<li>lovingly crafted by <a href="www.rabbletek.com">RabbleTek</a> on behalf of <a href="/story/chapter1">the slugs.</a></li>
			</ul>
				
			{% endblock %}
		
		</footer>

	<script>
		function incompatibleBrowser(){
			document.getElementById('incompatibleBrowser').hidden = false;
		}

	 	if (typeof Audio == 'function'){
			a = new Audio();
			if (typeof a.mozSetup == 'function'){
			} else {
				incompatibleBrowser();
			}
		} else {
			incompatibleBrowser();
		}
			
		</script>
	
	</body>

</html>

