	<div id="loginBox">


		{% if user.is_authenticated %}
			<p>logged in as <span id="loginBox_username">{{user.username}}</span></p>
			<a class="text" href="/user/logout">Log Out</a>
			<a title="My Profile" href="/user/myprofile/"><img width="50" height="50" src="{% if player.avatar %}{{player.avatar.url}}{%else%}{{STATIC_URL }}images/default.jpg{%endif%}" alt="profile picture"></img></a>

		{% else %}
			<a class="text" href="/user/login">Log In</a>
			<a class="text" href="/user/signup">Sign Up</a>
		{% endif %}

	</div>

