{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<form method='post' action='' class ='fullpage_form' >
		{% csrf_token %}
		{% if error %} <p class="error">Your password and/or username are incorrect.. Please try again. :)</p>{% endif %}
		

		<div class="register_div">
			<p><label for="username" {% if form.username.errors %} class="errors"{% endif %}>Username:</p>
			<p>{{form.username}}</p>
		</div>


		<div class="register_div">
			<p><label for="password" {% if form.password.errors %} class="errors"{% endif %}>Password:</p>
			<p>{{form.password}}</p>
		</div>

		<input type="submit" value="Log In"/>
	</form>
	
	<div class="forgot_password">
		<p> Forgot your password? <a href="/user/resetpassword/">Reset</a></p>
	</div>
{% endblock %}
