<html>
	<head>
		<title>SlugJam | {{ title }}</title>
	</head>
	<body>
	<form method='post' action=''>
		{% csrf_token %}
		{% if form.errors %} <p> Please correct these errors: </p>{% endif %}
		
		{% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
		<div class="register_div">
			<p><label for="username" {% if form.username.errors %} class="errors"{% endif %}>Username:</p>
			<p>{{form.username}}</p>
		</div>

		{% if form.password.errors %}<p class="error">{{ form.password.errors }}</p>{% endif %}
		<div class="register_div">
			<p><label for="password" {% if form.password.errors %} class="errors"{% endif %}>Password:</p>
			<p>{{form.password}}</p>
		</div>

		<input type="submit"/>
	</form>
	

	</body>
</html>

