{% include "floppyforms/input.html" %}

<script type="text/javascript">
	window.onload = function() {
		if (!('placeholder' in document.createElement('input'))) {
			var input = document.getElementById('{{attrs.id }}');
			input.value = '{{attrs.placeholder }}';

			input.onblur = function() {
				if (this.value == '') {
					this.value = '{{ attrs.placeholder }}';
				};
			};

			input.onfocus = function() {
				if (this.value == '{{ attrs.placeholder }}') {
					this.value = '';
				};
			};
		};
	};


</script>
