{% extends 'baseTwoColumn.html' %}

{% block title %}Player List{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css"></link>
{% endblock %}

{% block content %}


	<section id="left">
		{% include 'pagination.html' with baseUrl='/user/list/' %}
		<div class="sep"></div>
		<h3>Top Players</h3>
	
		{% for player in player_list %}
			{% include 'player_info.html'%}
			<div class="sep"></div>
		{% endfor %}
		<div class="sep"></div>
		{% include 'pagination.html' with baseUrl='/user/list/' %}
	</section>

	{{ block.super }}
 
{% endblock %}
