	<section id="profile_top">
		<div class="avatarBox">
			<img src="{% if player.avatar %}{{ player.avatar.url }}{% else %}{{ STATIC_URL }}images/default.jpg{% endif %}" alt="profile picture" class="avatar"></img>
			{% if edit %}
				<img src="{{ STATIC_URL }}images/edit.png" width="16px" height="16px" id="avatar_edit"class="editButton" onclick="showImageForm()" title="Change Profile Picture."></img>
			{% endif %}
		</div>
		<header>
			<div id="profile_info">			
				<h2>
					<a href="/user/profile/{{player.pk}}">
						{% if edit %}<span class="username">My</span>
					</a> Profile
						{% else %} <span class="username">{{player.user.username}}</span>
					</a>{% endif %}
				</h2>
				<h3></h3>
				<ul class="numbers">
					<li>Points<strong>{{player.points}}</strong></li>
					<li>Slugs<strong>{{player.slug_count}}</strong></li>
					<li class="end">Songs<strong>{{player.loop_count}}</strong></li>
				</ul>
			</div>
			<div id="profile_about">
				<h3><strong>About</strong>{% if edit %} me{% else %} {{player.user.username}}{% endif %}</h3>
				<p>{{player.bio|truncatechars:200}}</p>
				{% if edit %}
					<img src="{{ STATIC_URL }}images/edit.png" width="16px" height="16px" id="about_edit" class="editButton"  
								onclick="showAboutForm()" title="Change personal info"></img>
					<form method=POST action="/user/aboutChange/" hidden=True id="about_form">
						{% csrf_token %}
						<textarea id="id_about" name="about" cols="30" rows="5"></textarea>
						<input type="submit" value="submit"/>
					</form>
				{% endif %}
			</div>

		

		{% if edit %}
		<form method=POST action="/user/imageChange/" enctype=multipart/form-data hidden=True id="image_form">
			{% csrf_token %}
			{{ imageForm }}
			<input type="submit" title="submit" value="Upload"/>

		</form>
		{% endif %}
	</header>	


	</section>

