{% extends 'base.html' %}
{% load dajaxice_templatetags %}

{% block title %}{{player.user.username}}'s Profile{% endblock %}

{% block script %}
{% dajaxice_js_import %}
<script type="text/javascript" src="{{ STATIC_URL }}js/raphael-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/newWave.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/slugsynth.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}js/profile_edit.js"></script>
<script type="text/javascript">
slugIms = [];


function getSlugs(data){
	slugs = []
	for (var i = 0; i < data.slugs.length; i++){
		slugs.push(parseSlug(data.slugs[i], i));
	};
	drawSlugs(slugs);
	

}
function drawSlugs(slugs){
	for (var i = 0; i < slugs.length; i++){
		var outer = document.createElement('div');
		outer.setAttribute('id','slugDiv_'+i);
		outer.setAttribute('class','slugDiv');
		var h3 = document.createElement('h3');
		h3.innerHTML = slugs[i].name;
		h3.setAttribute('id','slug_name_'+i);
		h3.setAttribute('class','slug_name');
		h3.onclick = show_editor
		outer.appendChild(h3);
		var form = document.createElement('form');
		var input = document.createElement('input');



		input.type = 'text';
		input.value = slugs[i].name;
		input.onblur = cancel_edit;
		input.onchange = change
		


		
		form.appendChild(input);
	

		form.setAttribute('id','slug_name_'+i+'_edit')
		form.setAttribute('hidden','true');
		outer.appendChild(form);
		var d = document.createElement('div')
		d.setAttribute('id','slugBox_'+i);
		d.setAttribute('class','slugBox');
		outer.appendChild(d);
		document.getElementById('slugs_field').appendChild(outer);
		var r = new Raphael(document.getElementById('slugBox_'+i),200,90);
		slug = slugs[i].draw(r, 0, 't 10,0 s 2,2,0,0', Object.create(mainAttrs.palletteSlugs), 'slug_'+i+'_shape_0');
		slugIms.push(slug)
		var arrowAttrs = {'fill': '#333', 'stroke': '#111','opacity': 0.5, 'cursor':'pointer'};
		r_arrow = r.path('M 175,35 l 15,15 l -15,15, z').attr(arrowAttrs);
		l_arrow = r.path('M 10,45 l 15,-15 l 0,30 z').attr(arrowAttrs);
		r_arrow.hover(function(){this.attr('opacity',1)})
		l_arrow.hover(function(){this.attr('opacity',1)})
		r_arrow.mouseout(function(){this.attr('opacity',0.5)})
		l_arrow.mouseout(function(){this.attr('opacity',0.5)})
		r_arrow.node.onclick = function(){
			var slugId = this.parentNode.parentNode.id[this.parentNode.parentNode.id.length-1]
			switchSlug('r',slugId)
		}
		l_arrow.node.onclick = function(){
			var slugId = this.parentNode.parentNode.id[this.parentNode.parentNode.id.length-1]
			switchSlug('l',slugId);
		}
		
		slug.attr('fill', slugs[i].color);
	}
}

function switchSlug(direction,slugId){
	var slug = slugs[slugId];
	for (var i = 0; i < slug.shapes.length; i++){
		if (slug.currentShape == slug.shapes[i]){
			var id = i;
		}
	}
	console.log(id);
	var slugIm = slugIms[slugId];
	if (direction == 'l'){	
		var newId = (id-1);
		if (newId < 0){newId = slug.shapes.length + newId}
		var transform = 't 200,0 s 2,2,0,0'
		var startPos = 't -200,0 s 2,2,0,0'
	}else{
		var newId = (id+1)%slug.shapes.length;
		var transform = 't -200,0 s 2,2,0,0';
		var startPos = 't 200,0 s 2,2,0,0';
	}
	slug.currentShape = slug.shapes[newId];
	newSlugIm = slug.draw(slugIm[0].paper, 0, startPos, Object.create(mainAttrs.palletteSlugs), 'slug_'+slugId+'_shape_'+newId);
	newSlugIm.attr('fill',slug.color);
	slugIm.animate({'transform': transform},500, function(){this.remove()});
	newSlugIm.animate({'transform': 't 10,0 s 2,2,0,0'},500);
	slugIms[slugId] = newSlugIm;
	console.log(newId);	
}
		



window.onload = function() {
	var slugs = []
	getPlayerSlugs(getSlugs);
	var clicks = document.getElementById('profile_nav').children[0].children;
	for (var i = 0; i < clicks.length; i++){
		click = clicks[i];
		click.onclick = function() {
			
			fields = document.getElementsByClassName('field')
			for (var ii = 0; ii < fields.length; ii++){
				fields[ii].hidden = true;
				var token = fields[ii].id.split('_')[0]
				document.getElementById(token+'_choice').setAttribute('class', '');
			}
			this.setAttribute('class', 'sel');
			var token = this.id.split('_')[0];	
			console.log(token);
			document.getElementById(token+'_field').hidden = false;
		};
	};
		
};
	
</script>

{% endblock %}
{% block content %}
<div class="profile">
	<section id="left">
		{% include 'player_info.html' %}
	<section id="profile_content">

	<nav id="profile_nav">
		<ul>
			<li id="slugs_choice" class="sel" >slugs</li>
			<li id="songs_choice" >songs</li>
			<li id="friends_choice">friends</li>
		</ul>
	</nav>

	<div class="field" id="slugs_field">

				</div>
	
		<div class="field" id="songs_field" hidden=True>
			<header>
				<h3>{{player.user.username}}'s Songs</h3>
			</header>
		</div>

		<div class="field" id="friends_field" hidden=True>

			<header>
				<h3>{{player.user.username}}'s Friends</h3>
			</header>
		</div>

	</section>
	</section>
	<section id="right">

	</section>
</div>
{% endblock %}

