{% extends 'baseTwoColumn.html' %}
{% load dajaxice_templatetags %}

{% block title %}{{player.user.username}}'s Profile{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/songlist.css"></link>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css"></link>

{% endblock %}

{% block script %}
	{% dajaxice_js_import %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/mainAttrs.js"></script>	
	<script type="text/javascript" src="{{ STATIC_URL }}js/raphael-min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/newWave.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/slugsynth.js"></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/profile_edit.js"></script>
	<script>
		{% if edit %}
			var editable = true;
		{% else %}
			var editable = false;
		{% endif %}
		window.onload = function() {
			console.log('loading Slugs');
			var slugs = []
			getDefaultPlayerSlugs(getSlugs, {'playerName':'{{player.user.username}}'});
			var clicks = document.getElementById('profile_nav').children[0].children;
			for (var i = 0; i < clicks.length; i++){
				click = clicks[i];
				click.onclick = function() {		
					fields = document.getElementsByClassName('field')
					for (var ii = 0; ii < fields.length; ii++){
						fields[ii].hidden = true;
						var token = fields[ii].id.split('_')[0]
						document.getElementById(token+'_choice').setAttribute('class', '');
					}
					this.setAttribute('class', 'sel');
					var token = this.id.split('_')[0];	
					//console.log(token);
					document.getElementById(token+'_field').hidden = false;
				};
			};		
		};
	</script>
{% endblock %}

{% block content %}

	<section id="left">
		{% include 'player_info.html' %}
		<section id="profile_content">


			<nav id="profile_nav">
		<ul>
			<li id="slugs_choice" class="sel" >slugs</li>
			<li id="songs_choice" >songs</li>
			<li id="friends_choice">friends</li>
		</ul>
	</nav>

			<div class="field" id="slugs_field">

				</div>
	
			<div class="field" id="songs_field" hidden=True>
			{% for song in player.loop_set.all %}
				{% include 'song_info.html' %}
				<div class='sep'></div>
			{% empty %}
				<div class="empty">
					<p> You don't have any songs yet. Why not make one? <a href="/song/new/">Click Here!!</a></p>
				</div>
			{% endfor %}
		</div>

			<div class="field" id="friends_field" hidden=True>

			<header>
				<h3>{{player.user.username}}'s Friends</h3>
			</header>
			<p> This feature is coming soon! Hang around a while, soon you will be able to import your friends from facebook.</p>
		</div>

		</section>
	</section>
	{{ block.super }}	

{% endblock %}

